@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.announce-bar {
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  z-index: 80;
  width: 100%;
  top: 70px; /* Adjust the top position according to your design */
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #2f80ed;
}
/* whatsapp icons style... connected on whatsapp */
@keyframes danceAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.dance-icon {
  animation: danceAnimation 1s infinite;
}
/* media query */
@media (max-width: 676px) {
  .about {
    /* background-color: greenyellow; */
    word-wrap: break-word;
    height: auto;
    font-size: 14px; 
  }
}
@media (max-width: 676px) {
  .banner {
    /* background-color: greenyellow; */
    word-wrap: break-word;
    height: auto;
    font-size: 14px; 
  }
}
/* accordion section css */
/* .FAQs{
  background-color: aquamarine;
  display: inline-block;
  width: auto;
  margin: auto;
  background: url('/image/stroke.png');
  background-repeat: no-repeat;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  color: black;
} */
/* why choose us area */
.common_card{
  /* background-color: rgb(245, 243, 239); */
  border: none;
  border-radius: 10px;
}
.common_card:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.08);
  transition: all 2s;
  cursor: pointer;
}
/* home part custom css */
/* .home_section_top{
    width: 110px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: red;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
  } */
  /* .home_section_top:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #eee;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  } */

  .home_section_top{
    /* background-color: white; */
    color: white;
    /* width: 100vw; */
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%, 0% 100%);
  }
  fade-in-text {
    opacity: 0.2;
    transition: opacity 1s ease-in-out; 
  }
  
  .fade-in {
    opacity: 1;
  }